/* body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  font-family: 'Roboto';
} */

/* Roboto Regular */

@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Roboto Bold */

@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Roboto Light */

@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
}

@font-face {
  font-family: 'Karmatic';
  src: url('font/ka1.ttf') format('truetype');
}

@font-face {
  font-family: 'Game';
  src: url('font/game_over.ttf') format('truetype');
}

@font-face {
  font-family: 'Squared';
  src: url('font/Squared_Display.ttf') format('truetype');
}

@font-face {
  font-family: 'Forced';
  src: url('font/FORCED_SQUARE.ttf') format('truetype');
}
